<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Over ons</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Ridvan Onderhoud is toonaangevend in zakelijk en particulier onderhoud. Wij bieden een uniek en volledig onderhoudspakket waarin gedegen vakmanschap, heldere adviezen, goede communicate, en eerlijke prijzen centraal staan.</p>
      </div>
      <div class="col-lg-4">
        <p>Voor uw woning, bedrijfspand, appartementencomplex of monument. Met volop vakkennis en vele jaren ervaring leveren wij topkwaliteit in werk.</p>
      </div>
    </div>
  </div>
</section>
